<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBonjourServices</key>
  <array>
    <string>_moshcompanion._tcp</string>
  </array>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Mosh transcribes your voice so you can talk to Moshi, your in-app collaborator, instead of typing.</string>
</dict>
</plist>
